@page
@model b3.Pages.homeModel
@{
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="p-3 m-0 border-0 bd-example">

    <!-- Example Code -->
    <center>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Các Tin Nổi Bật</font></font></button>
    </center>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tin Mới Nhất!!</font></font></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Đóng"></button>
        </div>
        <div class="offcanvas-body">
            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        <h5>Quyết Định Tăng Học Phí - Đại Học An Giang</h5>
                        So với năm 2022, mức học phí tại Đại học An Giang trong năm 2023 tăng từ 5% đến 10%, đúng theo quy định của Bộ GD&ĐT. Đối với khối ngành sư phạm, trường vẫn giữ nguyên quy định miễn học phí.

                        Tuy nhiên, mức học phí cụ thể cho các khối ngành sẽ được trường công bố trên website sau khi đề án tăng/giảm học phí được bộ GD&ĐT phê duyệt.

                        Thông tin mới nhất về học phí tại đại học An Giang sẽ được JobTest cập nhật nhanh nhất trong thời gian tới, nhằm hỗ trợ các bạn tân sinh viên đưa ra quyết định đúng đắn về việc lựa chọn trường đại học cho bản thân.
                        <img src="https://enews.agu.edu.vn/images/assets/2022/08/ban-tin/01.jpg" class="card-img-top" width="400px" height="300px" alt="...">
                        <h5>Ngành Sư phạm Hoá học chào đón tân sinh viên 2022</h5>
                        Năm học đầu tiên có lẽ luôn là năm học nền tảng, đánh dấu mốc trưởng thành cũng như đem lại những kỉ niệm khó quên trong đời sinh viên. Chuỗi hoạt động chào đón tân sinh viên đã tạo nên một dấu ấn quan trọng trong lòng tất cả mọi người. Điều đó giúp cho các bạn sinh viên mới khám phá bản thân, kết thêm được nhiều bạn mới và thu nạp được nhiều kiến thức bổ ích, sẵn sàng cho hành trình học tập sau này. Đến với một môi trường mới, trong một vai trò mới, chắc hẳn các bạn tân sinh viên vẫn còn nhiều rụt rè và bỡ ngỡ. Chính vì vậy, Ngành Sư phạm Hoá học luôn cố gắng tạo ra môi trường, xây dựngg các hoạt động để các bạn tân sinh viên sẵn sàng hoà nhập và làm quen với cuộc sống mới.
                        <img src="https://enews.agu.edu.vn/images/assets/2022/10/ban-tin/hoa-hoc/0-3-1.jpg" class="card-img-top" width="400px" height="300px" alt="...">
                    </font>
                </font>
            </p>
        </div>
    </div>

    <!-- End Example Code -->
</body>
</html>


    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
            <img src="https://baoangiang.com.vn/image/fckeditor/upload/2020/20200803/images/anh-huynh.jpg" class="card-img-top" width="400px" height="300px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tiếp và làm việc với Liên đoàn lao động Tỉnh</h5>
                <p class="card-text">Ngày 21/10, Ban Chấp hành Công đoàn cơ sở Trường Đại học An Giang đã có buổi tiếp đón đoàn công tác Liên đoàn lao động Tỉnh (LĐLĐ) do đồng chí Nguyễn Thiện Phú – Chủ tịch LĐLĐ Tỉnh làm Trưởng đoàn.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="https://enews.agu.edu.vn/images/enews/2016/07/ban-tin/tiepdhHonKong.jpg" class="card-img-top" width="400px" height="300px" alt="...">
                <div class="card-body">
                <h5 class="card-title">Trường Đại học An Giang tiếp đón Đoàn giảng viên và sinh viên Đại học Bách Khoa HongKong</h5>
                <p class="card-text">Trong khuôn khổ phối hợp thực hiện Chương trình hỗ trợ cộng đồng (Service Learning) giữa Trường Đại học An Giang (ĐHAG) và Đại học Bách Khoa Hong Kong.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="https://enews.agu.edu.vn/images/assets/2022/09/PSA/Unitour/4.jpg" class="card-img-top" width="400px" height="300px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sôi nổi cùng "UNITOUR chào đón tân sinh viên AGU"</h5>
                <p class="card-text">Như tin đã đưa, vừa qua, hoà chung không khí vui tươi của mùa tựu trường năm học 2022-2023, Trường Đại học An Giang, ĐHQG-HCM đã phối hợp với Trung tâm Hỗ trợ và Phát triển sinh viên Việt Nam.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="https://enews.agu.edu.vn/images/assets/2022/09/ban-tin/toa-da-luat/7.jpg" class="card-img-top" width="400px" height="300px" alt="...">
                <div class="card-body">
                <h5 class="card-title">Tọa đàm “Tìm hiểu về cấu trúc cân bằng quyền lực trong Hiến pháp Mỹ”  </h5>
                    <p class="card-text"> Tọa đàm là cơ hội giúp cho sinh viên chuyên ngành Luật gặp gỡ, giao lưu cùng với diễn giả, cũng như tìm hiểu về Bản Hiến pháp Mỹ - Bản Hiến pháp nổi tiếng và đã có thời gian tồn tại hơn 200 năm trên thế giới.</p>
                </div>
            </div>
        </div>
    </div>


<section style="background-color: #eee;">
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-start align-items-center">
                            <img class="rounded-circle shadow-1-strong me-3"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
                                 height="60" />
                            <div>
                                <h6 class="fw-bold text-primary mb-1">Arica</h6>
                                <p class="text-muted small mb-0">
                                    Vừa mới bình luận 5 phút trước...
                                </p>
                            </div>
                        </div>

                        <p class="mt-3 mb-4 pb-2">
                            Tôi Rất Thích Trường Đại Học An Giang Và Tôi Sẽ Đến Tham Quan Sớm....
                        </p>

                        <div class="small d-flex justify-content-start">
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="far fa-thumbs-up me-2"></i>
                                <p class="mb-0">Thích</p>
                            </a>
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="far fa-comment-dots me-2"></i>
                                <p class="mb-0">Bình Luận</p>
                            </a>
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="fas fa-share me-2"></i>
                                <p class="mb-0">Chia Sẻ</p>
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="d-flex flex-start align-items-center">
                            <img class="rounded-circle shadow-1-strong me-3"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(29).webp" alt="avatar" width="60"
                                 height="60" />
                            <div>
                                <h6 class="fw-bold text-primary mb-1">Davic</h6>
                                <p class="text-muted small mb-0">
                                    Vừa mới bình luận 5 phút trước...
                                </p>
                            </div>
                        </div>
                        <p class="mt-3 mb-4 pb-2">
                            Ngôi Trường Của Bạn Rất Đẹp
                        </p>


                        <div class="small d-flex justify-content-start">
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="far fa-thumbs-up me-2"></i>
                                <p class="mb-0">Thích</p>
                            </a>
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="far fa-comment-dots me-2"></i>
                                <p class="mb-0">Bình Luận</p>
                            </a>
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="fas fa-share me-2"></i>
                                <p class="mb-0">Chia Sẻ</p>
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="d-flex flex-start align-items-center">
                            <img class="rounded-circle shadow-1-strong me-3"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar" width="60"
                                 height="60" />
                            <div>
                                <h6 class="fw-bold text-primary mb-1">Miho-Soda</h6>
                                <p class="text-muted small mb-0">
                                    Vừa mới bình luận 5 phút trước...
                                </p>
                            </div>
                        </div>

                        <p class="mt-3 mb-4 pb-2">
                            Cảm Mơn Vì Đã Cung Cấp Thông Tin Cho Chúng Tôi!!
                        </p>

                        <div class="small d-flex justify-content-start">
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="far fa-thumbs-up me-2"></i>
                                <p class="mb-0">Thích</p>
                            </a>
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="far fa-comment-dots me-2"></i>
                                <p class="mb-0">Bình Luận</p>
                            </a>
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="fas fa-share me-2"></i>
                                <p class="mb-0">Chia Sẻ</p>
                            </a>
                        </div>
                    </div>

                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                        <div class="d-flex flex-start w-100">
                            <img class="rounded-circle shadow-1-strong me-3"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="40"
                                 height="40" />
                            <div class="form-outline w-100">
                                <label class="form-label" for="textAreaExample">Viết Bình Luận</label>
                                <textarea class="form-control" id="textAreaExample" rows="4"
                                          style="background: #fff;"></textarea>
                            </div>
                        </div>
                        <div class="float-end mt-2 pt-1">
                            <!-- Button trigger modal -->
                            <center>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Đăng Bài Viết
                                </button>
                            </center>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Phần Bình Luận Của Bạn Sẽ Được Chia Sẻ Công Khai</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="spinner-grow spinner-grow-sm" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                            Chúng Tôi Đang Xem Xét Bình Luận Của Bạn, Nó Sẻ Được Xuất Hiện Sớm!!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy Bỏ</button>
                                            <button type="button" class="btn btn-primary"><a href="https://localhost:5001/home" class="link-dark">ChấP Nhận</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
