@page
@model b3.Pages.thanhviennhomModel
@{
}

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Tên</th>
            <th>Lớp</th>
            <th>Mã Số Sinh Viên</th>
            <th>Đóng Góp</th>
            <th>Đánh Giá</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <img src="https://scontent.fvca1-3.fna.fbcdn.net/v/t39.30808-6/217604797_366031791554750_5740268562533986362_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=nvuiKeaj5pYAX931xYH&_nc_ht=scontent.fvca1-3.fna&oh=00_AfA_us6ab5O8p9OEnGc24kb0HhJqK3k8Y-_8F9aNI_Ebjw&oe=6361739E"
                         alt=""
                         style="width: 45px; height: 45px"
                         class="rounded-circle" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Lê Phát Đạt</p>
                        <p class="text-muted mb-0">lpdat_20pm@student.agu.edu.vn</p>
                    </div>
                </div>
            </td>
            <td>
                <h4>DH20PM</h4>
            </td>
            <td>
                <span class="badge badge-success rounded-pill d-inline">DPM195550</span>
            </td>
            <td>100%</td>
            <td>
                <button type="button" class="btn btn-link btn-sm btn-rounded">
                    <!DOCTYPE html>
                    <html>
                    <head>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        <style>
                            .fa {
                                font-size: 50px;
                                cursor: pointer;
                                user-select: none;
                            }

                                .fa:hover {
                                    color: darkblue;
                                }
                        </style>
                    </head>
                    <body>


                        <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>

                        <script>
                            function myFunction(x) {
                                x.classList.toggle("fa-thumbs-down");
                            }
                        </script>

                    </body>
                </html>


            </button>
        </td>
    </tr>
    <tr>
        <td>
            <div class="d-flex align-items-center">
                <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t39.30808-6/281786308_1441766092944854_564699350083159337_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=KHWx_i5rj9QAX-9A9Eu&tn=3LEfjclVIV863Q18&_nc_ht=scontent.fvca1-1.fna&oh=00_AfC11AfIOfaTfjSY_qxSlZnJjpX3f109aizCj1WX_W0qoA&oe=6361FBE4"
                     class="rounded-circle"
                     alt=""
                     style="width: 45px; height: 45px" />
                <div class="ms-3">
                    <p class="fw-bold mb-1">Nguyễn Bửu Thanh</p>
                    <p class="text-muted mb-0">nbthanh_20pm@Students.agu.edu.vn</p>
                </div>
            </div>
        </td>
        <td>
            <h4>DH20PM</h4>
        </td>
        <td>
            <span class="badge badge-primary rounded-pill d-inline">DPM?</span>
        </td>
        <td>100%</td>
        <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
                <!DOCTYPE html>
                <html>
                <head>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <style>
                        .fa {
                            font-size: 50px;
                            cursor: pointer;
                            user-select: none;
                        }

                            .fa:hover {
                                color: darkblue;
                            }
                    </style>
                </head>
                <body>


                    <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>

                    <script>
                        function myFunction(x) {
                            x.classList.toggle("fa-thumbs-down");
                        }
                    </script>

                </body>
            </html>


        </button>
    </td>
</tr>
<tr>
    <td>
        <div class="d-flex align-items-center">
            <img src="https://scontent.fvca1-4.fna.fbcdn.net/v/t1.6435-9/100900968_1151158151906711_60970668539248640_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=174925&_nc_ohc=Q2RdJA7iSU4AX9RYUpk&_nc_ht=scontent.fvca1-4.fna&oh=00_AfA-2TFSgz1YnQ77cvMyZJz0vHGxNSOUog4YzWd0cRCKyw&oe=6382D94B"
                 class="rounded-circle"
                 alt=""
                 style="width: 45px; height: 45px" />
            <div class="ms-3">
                <p class="fw-bold mb-1">Nguyễn Thị Bích Trâm</p>
                <p class="text-muted mb-0">ntbtram_20pm@Students.agu.edu.vn</p>
            </div>
        </div>
    </td>
    <td>
        <h4>DH20PM</h4>
    </td>
    <td>
        <span class="badge badge-warning rounded-pill d-inline">DPM195437</span>
    </td>
    <td>100%</td>
    <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
            <!DOCTYPE html>
            <html>
            <head>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <style>
                    .fa {
                        font-size: 50px;
                        cursor: pointer;
                        user-select: none;
                    }

                        .fa:hover {
                            color: darkblue;
                        }
                </style>
            </head>
            <body>


                <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>

                <script>
                    function myFunction(x) {
                        x.classList.toggle("fa-thumbs-down");
                    }
                </script>

            </body>
        </html>


    </button>
    </td>
</tr>
<tr>
    <td>
        <div class="d-flex align-items-center">
            <img src="https://scontent.fvca1-3.fna.fbcdn.net/v/t1.6435-9/83476397_530228480925128_7084334905898827776_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_ohc=PEjpp49cpnsAX9mTdRx&tn=3LEfjclVIV863Q18&_nc_ht=scontent.fvca1-3.fna&oh=00_AfDttrvzCJSU9JVBeeKS7XrIRis08L3KfktZXfi_mUveeA&oe=6383C425"
                 class="rounded-circle"
                 alt=""
                 style="width: 45px; height: 45px" />
            <div class="ms-3">
                <p class="fw-bold mb-1">Thái Văn Nghĩa</p>
                <p class="text-muted mb-0">tvnghia_20pm@Students.agu.edu.vn</p>
            </div>
        </div>
    </td>
    <td>
        <h4>DH20PM</h4>
    </td>
    <td>
        <span class="badge badge-primary rounded-pill d-inline">DPM?</span>
    </td>
    <td>100%</td>
    <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
            <!DOCTYPE html>
            <html>
            <head>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <style>
                    .fa {
                        font-size: 50px;
                        cursor: pointer;
                        user-select: none;
                    }

                        .fa:hover {
                            color: darkblue;
                        }
                </style>
            </head>
            <body>


                <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>

                <script>
                    function myFunction(x) {
                        x.classList.toggle("fa-thumbs-down");
                    }
                </script>

            </body>
        </html>


    </button>
</td>
</tr>
</tbody>
</table>